<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{{ title }}</title>
		<link rel="stylesheet" href="/assets/css/main.css">
	</head>
	<body id="site-body" class="m-0 font-sans antialiased">
		<main tabindex="-1" id="main-content" class="relative bg-white py-12 px-10 mx-auto flex flex-col max-w-7xl">
			{% include "partials/site-head.html" %}
			<div class="flex-grow md:px-12">
				{% block content %}{% endblock %}
			</div>
			{% include "partials/footer.html" %}
		</main>
	</body>
</html>