@import url("https://googleapis.com");
@import "tailwindcss";

@theme {
    --breakpoint-hero-break: 1140px;
    --font-playfair: "Playfair Display", serif;
    --font-lato: "Lato", sans-serif;
}

@layer base  {
    h1 {
        @apply text-4xl font-playfair;
    }
    h2 {
        @apply text-2xl font-playfair;
    }

    main a {
        @apply text-green-700;
    }
    main a:hover {
        @apply text-lime-800;
    }

    header a {
        @apply text-black;
    }
    header a:hover {
        @apply text-green-700;
    }
}

@layer components {

    .main-content {
        @apply px-8 sm:px-12 md:px-24;
    }
}
