{% for item in counselors.items %}
<div class="flex justify-between items-center p-4">
    <div class="flex-col relative overflow-hidden m-1 p-4 h-100 min-w-xs flex-1 mx-auto outline outline-2 outline-offset-0 outline-slate-300 rounded-xl">

        <div class="sm:flex sm:justify-between">   
            <img src="../assets/images/bg/tetons.webp" class="rounded-full sm:rounded-xl size-42 object-cover"/>
            <div>
                <button class="px-6 m-2 h-10 rounded-xl bg-green-700 border-none text-slate-200 font-semibold focus:text-slate-200 hover:text-slate-200 transition delay-50 duration-300 ease-in hover:-translate-y-1 hover:scale-110 hover:bg-green-800 ">Schedule</button>
            </div>    
        </div>
        <div class="border border-b-1 my-4 border-slate-200"></div>

        <div class="">
            <h2>{{ item.first }} {{ item.last }}</h2>
        </br>
            <p>{{ item.bio }}</p>
            {% if item.second %}
            <a>{{ item.second }}</a>
            {% endif %}
        </div>
    </div>
</div>
{% endfor %}