<footer role="banner" class="site-footer">
    <div class="wrapper px-0 py-6 pt-24 md:px-12">
        <div class="mx-auto flex flex-col md:flex-row gap-12 max-w-7xl">
            <div class="flex-grow">
                <img width="175px" class="min-w-125px" src="../assets/logos/nrc_logo.jpg" alt="{{ site.name }}"/>
            </div>
            <nav class="flex flex-col sm:flex-row items-end gap-4 sm:gap-12" aria-label="Footer">
                {% for item in navigation.items %}
                <a href="{{ item.url }}"  {{ helpers.getLinkActiveState(item.url, page.url) | safe }}>{{ item.text }}</a>
                {% endfor %}
            </nav>
        </div>
    </div>
</footer>