<footer role="banner" class="site-footer">
    <div class="wrapper px-10 pt-24">
        <div class="mx-auto flex flex-col md:flex-row gap-12 max-w-7xl items-start">
            <div class="flex-grow">
                <img width="225px" class="min-w-125px" src="/assets/logos/nrc_logo.jpg" alt="{{ site.name }}"/>
            </div>
            <nav class="pr-12 flex flex-col gap-0 text-sm text-gray-500 dark:text-gray-400" aria-label="Footer">
                {% for item in navigation.footer %}
                <a href="{{ item.url }}"  {{ helpers.getLinkActiveState(item.url, page.url) | safe }}>{{ item.text }}</a>
                {% endfor %}
            </nav>
        </div>
        <p class="py-6 text-sm text-gray-500 dark:text-gray-400">Copyright {% year %} Northern Rockies Counseling</p>

    </div>
    
</footer>