<div class="relative hero w-full bg-white max-w-7xl mx-auto">
    <div class="relative pb-16 pt-24 flex-col md:flex-row overlfow-visible">
        <div class="absolute w-full max-h-75 overflow-hidden flex justify-center top-0 left-0 opacity-80 items-start">
            <img src="../assets/images/bg/tetons.webp" class="max-w-300"/>
        </div>
        <div class="px-10 md:px-32">
            <div class="relative pt-8">
                <h1>Hello</h1>
                <h2>World</h2>
            </div>
            <div class="relative bg-orange pt-8 flex flex-col hero-break:flex-row gap-16 mx-auto">
                <div class="relative flex-1">
                    <div class="relative opacity-80 flex flex-row items-start gap-12 rounded-lg shadow-lg p-6 bg-white border-1 boder-slate-700">
                        <div class="relative min-w-40 flex-grow">
                            alskjfdlaksfjlsjf asldfkajsldfkj asldfkjaslfdkj ajdlaskjdfla alskdfjad
                        </div>
                        <div class="relative hover:bg-sky-700 flex rounded-lg shadow-lg p-6 bg-white border-3 border-slate-700">
                            Arrow
                        </div>
                    </div>
                </div>
                <div class="relative flex-1">
                    <div class="relative opacity-80 flex flex-row items-start gap-12 rounded-lg shadow-lg p-6 bg-white border-1 boder-slate-700">
                        <div class="relative min-w-40 flex-grow">
                            alskjfdlaksfjlsjf asldfkajsldfkj asldfkjaslfdkj ajdlaskjdfla alskdfjad
                        </div>
                        <div class="relative hover:bg-sky-700 flex rounded-lg shadow-lg p-6 bg-white border-3 border-slate-700">
                            Arrow
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>