<div class="relative hero w-full bg-white max-w-7xl mx-auto">
    <div class="relative pb-16 pt-8 flex-col sm:flex-row overlfow-hidden">
        <div class="absolute w-full max-h-75 overflow-hidden flex justify-center top-0 left-0 opacity-45 items-start">
            <img src="/assets/images/bg/tetons.webp" class=""/>
        </div>
        <div class="px-10 text-slate-900">
            <div class="relative">
                <h1>{{ title }}</h1>
                <h2>Coming soon! Website currently under construction.</h2>
            </div>
            <div class="relative pt-8 flex flex-row flex-wrap gap-8 mx-auto">
                <div class="relative flex-1">
                    <div class="relative flex flex-col sm:flex-row items-start gap-4 rounded-lg shadow-lg p-6 bg-white/80 border-1 boder-slate-700">
                        <div class="relative min-w-40 flex-grow">
                            alskjfdlaksfjlsjf asldfkajsldfkj asldfkjaslfdkj
                        </div>
                        {% set buttonText= "button" %}
                        {% include "partials/button.html" %}
                    </div>
                </div>
                <div class="relative flex-1">
                    <div class="relative flex flex-col sm:flex-row items-start gap-4 rounded-lg shadow-lg p-6 bg-white/80 border-1 boder-slate-700">
                        <div class="relative min-w-40 flex-grow">
                            akjadfj
                        </div>
                        {% set buttonText= "Second" %}
                        {% include "partials/button.html" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>