<header role="banner" class="site-head">
    <div class="wrapper px-4 md:px-12 py-12">
	    <div class="mx-auto flex flex-col md:flex-row gap-12 max-w-7xl">
            <a href="/" aria-label="{{ site.name }}" class="flex-grow">
                <img width="275px" class="min-w-215px" src="../assets/logos/nrc_logo.jpg" alt="{{ site.name }}"/>
            </a>
            <nav class="flex flex-col sm:flex-row justify-around items-start sm:items-end gap-4 sm:gap-12" aria-label="Primary">
                {% for item in navigation.items %}
                <a href="{{ item.url }}"  {{ helpers.getLinkActiveState(item.url, page.url) | safe }}>{{ item.text }}</a>
                {% endfor %}
            </nav>
        </div>
    </div>
</header>