<header role="banner" class="site-head">
	<div class="max-h-25px">
		
			<nav class="px-24 items-end h-80px min-w-500px flex flex-row items-center justify-between p-4 bg-white shadow-md gap-16" aria-label="Primary">
                <div class="flex-1">
                    <a href="/" aria-label="Northern Rockies Counseling" class="">
                        <img width="275px" class="min-w-215px" src="assets/logos/nrc_logo.png" alt="Norther Rockies Counseling"/>
                    </a>
                </div>
                <div class="flex flex-row items-center space-x-6">
                    <a href="/">Home</a>
                    <a href="/work">Work</a>
                </div>
				</ul>
			</nav>
	</div>
</header>